/* Basic styles */

body {
  background: linear-gradient(
    180deg,
    rgb(102, 104, 110),
    rgb(190, 176, 176),
    rgb(192, 147, 234)
  );
  padding-left: 50px;
  padding-right: 50px;
}

a {
  color: rgb(219, 212, 212);
  text-decoration: none;
  cursor: pointer;
}

/* Header & co. */

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1em;
  padding-inline-start: 0;
}

.burger {
  display: flex;
  margin-right: 5px;
}

.line {
  height: 2px;
  width: 25px;
  background-color: rgb(219, 212, 212);
  margin: 5px 0;
}

.burger-menu.active {
  display: block;
  left: 0%;
}

.menu-item {
  position: relative;
  border: solid;
}

.page-name {
  display: flex;
  color: rgb(219, 212, 212);
  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* menu bar for large screens */
@media (max-width: 1280px) {
  .burger {
    display: none;
  }

  .burger-menu {
    list-style-type: none;
    margin-left: 1em;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    left: 0%;
    height: auto;
    border: solid;
  }
}

@media (max-width: 480px) {
  .burger {
    display: inline-block;
    margin-right: 5px;
  }
  .burger-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -76%;
    width: 75%;
    height: 50%;

    justify-content: center;
    border: solid;
  }
}

/* dropdown styles */

.dropdown-contents {
  display: none;
  position: absolute;
  overflow: auto;
  margin: auto;
  padding: 5px;
}

.dropdown-contents a {
  display: block;
  align-content: left;
  background-color: gray;
}

.dropdown-div:hover .dropdown-contents {
  display: block;
}

/* article and images containers */

.text-home {
  display: block;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  position: center;
  justify-content: center;
  background-color: rgb(219, 212, 212);
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.image-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  width: auto;
  height: auto;
  background-color: rgb(219, 212, 212);
}

.home-image {
  width: 100%;
  height: auto;
  margin-right: 1%;
  margin-top: 0.5%;
}

.copywrite-declaration {
  margin-top: 32px;
  color: rgb(219, 212, 212);
  font-size: 12px;
}
